body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
}

.folders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    z-index: 1; /* Ensure folders appear above the video */
}

.folder {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
}

.folder img {
    max-width: 100%;
    max-height: 100%;
}

.folder span {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    color: white; /* Change color to white */
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
